.playButton {
    padding: 3px 1px 3px 1px;
    border-radius: 20%;
}

.avatarStyle {
    display: flex;
    align-items: flex-start;
}

.highlight {
    background-color: #ffff33 !important;
  }

.ion-text-wrap {
    font-size: large;
}
.sc-ion-label-md-s h2 {
    font-size: large;
}
.sc-ion-label-md-s p {
    font-size: large;
}
.custom-popover {
    width: 300px; /* 원하는 넓이로 조절 */
  }
  