.playButton {
    padding: 3px 1px 3px 1px;
    border-radius: 20%;
}

.avatarStyle {
    display: flex;
    align-items: flex-start;
}

.highlight {
    background-color: #ffff33 !important;
  }

.ion-text-wrap {
    font-size: large;
}
.sc-ion-label-md-s h2 {
    font-size: large;
}
.sc-ion-label-md-s p {
    font-size: large;
}

  ion-popover {
    --background: rgba(40, 173, 218, 0.6);
    --backdrop-opacity: 0.6;
    --box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.6);
    --color: white;
    --width: 320px;
  }

  html {
    --ion-dynamic-font: var(--ion-default-dynamic-font);
    --ion-font-family: 'Comic Sans MS';
  }
  
  .big-size1 {
    font-size: 5vw/** 2.5em**/;
  }

  ion-modal {
    --width: 98vw;
    --backdrop-opacity: var(--ion-backdrop-opacity, 0.50);
    backdrop-filter: blur(3px);
  }

  .large-chip {
    font-size: 1.0em; /* 폰트 크기 조절 */
}