.playButton {
    padding: 3px 1px 3px 1px;
    border-radius: 20%;
}

.avatarStyle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.highlight {
    background-color: #ffff33 !important;
  }

.ion-text-wrap {
    font-size: large;
}
.sc-ion-label-md-s h2 {
    font-size: large;
}
.sc-ion-label-md-s p {
    font-size: large;
}

  ion-popover {
    --background: rgba(40, 173, 218, 0.6);
    --backdrop-opacity: 0.6;
    --box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.6);
    --color: white;
    --width: 320px;
  }

  html {
    --ion-dynamic-font: var(--ion-default-dynamic-font);
    --ion-font-family: 'Comic Sans MS';
  }
  
  .is-semi-auto-on {
    color:rgba(220,220,220,0.6);
    font-size: 3vw;
  }
  :root {
    --font-scale: 1;
  }
  
  .size-big {
    font-size: calc(5vw * var(--font-scale));
  }
  
  .size-mid {
    font-size: calc(4.5vw * var(--font-scale));
  }
  
  .size-small {
    font-size: calc(3.8vw * var(--font-scale));
  }
  
  ion-modal {
    --width: 98vw;
    --backdrop-opacity: var(--ion-backdrop-opacity, 0.50);
    backdrop-filter: blur(3px);
  }

  ion-modal.modal-small {
    --width: 80vw;
    --height: 25em;
  }

  .large-chip {
    font-size: 1.0em; /* 폰트 크기 조절 */
  }

  .fixed-size-input {
    width: 4em;
    height: 0.8em;
  }

  .label-text {
    margin-top: 0.5em; /* Adjust as needed */
  }

  @keyframes blinking {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }

  .primary-background {
    background-color: var(--ion-color-primary);
    padding: 5px; /* Add some padding so the background color shows around the text */
  }
  
  .white-text {
    color: white;
  }

  .border-round {
    border-radius: 20%;
  }

  .font-size-small {
    font-size:0.7em;
  }

  @media (orientation: portrait) {
    .hide-on-small {
      display: none;
    }
  }